_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# MacOS
.DS_Store

# IDE configs
.idea
.vscode

# Build
src/serial
src/serial.dSYM/

# data
*.in
*.std
*.out

# Python
__pycache__/
venv/
venv_pypy/
